@model iShop.Web.ViewModel.System.Users.RoleAssignRequest
@{
    ViewData["Title"] = "RoleAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RoleAssign</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleAssign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @for(var i=0;i<Model.Roles.Count;i++)
            {
        <div class="form-group">
            @Model.Roles[i].Name
            <input type="hidden" asp-for="Roles[i].Id" />
            <input type="checkbox" asp-for="Roles[i].Selected" class="form-control" />
            <input type="hidden" asp-for="Roles[i].Name" />
        </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-success" value="Save">Save</button>
            </div>
        </form>

    </div>
</div>